<form>
  <div class="form-group">
    <label for="username">User name</label>
    <input type="text" class="form-control" id="username" placeholder="Your user name" ng-model="username">
  </div>
  <button class="btn btn-default" ng-click="startGame()">Start game</button>
</form>