
<!-- show questions -->
<div ng-if='showQuestions'>
	<ng-include src="'views/partials/questionbox.partial.html'"> </ng-include>
</div>

<!-- show thank you message -->
<div ng-if='!showQuestions'>
	<p>Thank you {{username}}, you have <b>{{myPoints}}</b> Points from <b>{{totalQuestions}}</b> Questions. </p>
	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click='restart()'>
		<span class="glyphicon glyphicon-repeat" aria-hidden="true"> </span>
		Restart game
	</button>
	
	<button type="button" class="btn btn-success btn-lg btn-block" ng-click='highscore()'>
		<span class="glyphicon glyphicon-list" aria-hidden="true"> </span>
		Show highscore
	</button>

</div>