<h3>Live Highscore</h3>
<p>This highscore is received live with websockets. The data is not stored in a database. If the server is stopped, the highscore is gone.</p>

<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody> 
		
		<tr ng-repeat="entry in highscore">
		  <td>{{ $index + 1 }}</td>
		  <td>{{entry.username}}</td>
		  <td>{{entry.points}}</td>
		</tr>

      </tbody>
</table>
