
<div class="jumbotron text-center">
	<img height="150px" src="/assets/node.png">
	<h1>{{tagline}}</h1>
	<p>{{ subtitle }}</p>
</div>

<button type="button" class="btn btn-success btn-lg btn-block" ng-click='start()'>
		<span class="glyphicon glyphicon-play" aria-hidden="true"> </span>
		Start the game!
</button>

