<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <span ng-bind="question"></span>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6"><div class="mini-box"><button id="btnA" type="button" class="btn btn-default btn-lg btn-block" ng-click="selectAnswer('A')"><span ng-bind="answerA"></span></button></div></div>
                <div class="col-xs-6"><div class="mini-box"><button id="btnB" type="button" class="btn btn-default btn-lg btn-block" ng-click="selectAnswer('B')">{{answerB}}</button></div></div>
                <div class="col-xs-6"><div class="mini-box"><button id="btnC" type="button" class="btn btn-default btn-lg btn-block" ng-click="selectAnswer('C')">{{answerC}}</button></div></div>
                <div class="col-xs-6"><div class="mini-box"><button id="btnD" type="button" class="btn btn-default btn-lg btn-block" ng-click="selectAnswer('D')">{{answerD}}</button></div></div>
            </div>
        </div>
    </div>
</div>